@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* primary color block */
  --primary-color-100: hsl(240, 90%, 90%);
  --primary-color-300: hsl(240, 40%, 60%);
  --primary-color-600: hsl(240, 60%, 30%);
  --primary-color-900: hsl(240, 80%, 10%);
  /* secondary color block */
  --secondary-color-100: hsl(36, 60%, 30%);
  --secondary-color-300: hsl(29, 40%, 60%);
  --secondary-color-600: hsl(36, 60%, 30%);
  --secondary-color-900: hsl(0, 80%, 10%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* centering display flex dierction defaults to row*/
  display: flex;
  /*  make columns*/
  flex-direction: column;
  /* aligns horizontal if column */
  align-items: center;
  /* need height to center vertically */
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
